{% extends 'base.html' %}


{% load i18n %}
{% load static %}


{% block extra_css %}
    {{ block.super }}
    {{ form.media.css }}
    <link rel="stylesheet" href="{% static 'css/select2-bootstrap4.min.css' %}">
{% endblock %}


{% block extra_js %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock %}


{% block content %}
    <div class="container">
        <form method="post" action="{% url 'index' %}">
            {% csrf_token %}
            <div class="row justify-content-center">

                <div class="col-12 col-lg-6">
                    <div class="row justify-content-end">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                {{ form.date.label_tag }}{{ form.date }}{{ form.date.errors }}
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-8">
                            <div class="form-group">
                                {{ form.category.label_tag }}{{ form.category }}{{ form.category.errors }}
                            </div>
                        </div>
                        <div class="col-6 col-lg-4">
                            <div class="form-group">
                                {{ form.quantity.label_tag }}{{ form.quantity }}{{ form.quantity.errors }}
                            </div>
                        </div>
                        <div class="col-6 col-lg-4">
                            <div class="form-group">
                                {{ form.unit.label_tag }}{{ form.unit }}{{ form.unit.errors }}
                            </div>
                        </div>
                        <div class="col-6 col-lg-4">
                            <div class="form-group">
                                {{ form.price.label_tag }}{{ form.price }}{{ form.price.errors }}
                            </div>
                        </div>
                        <div class="col-6 col-lg-4">
                            <div class="form-group">
                                {{ form.amount.label_tag }}{{ form.amount }}{{ form.amount.errors }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="form-group">
                        {{ form.comment.label_tag }}{{ form.comment }}{{ form.amount.comment }}
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="mt-2 mb-5">
                        <button class="btn btn-primary btn-block" type="submit">{% trans 'Save' %}</button>
                    </div>
                </div>

            </div>
        </form>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <table class="table">
                    <tr>
                        <td colspan="5" class="text-danger text-right"><b>{% trans 'Total' %}: {{ sum|floatformat:2 }}</b></td>
                    </tr>
                    {% for item in by_months %}
                        <tr>
                            <td><a href="{% url 'month' item.month.year item.month.month %}">{{ item.month|date:'Y F' }}</a></td>
                            <td class="text-success text-right"><b>{{ item.amount|floatformat:2 }}</b></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}
